[Unit]
Description=Auto connect WiFi at boot
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/wifi-connect.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
